@import "tailwindcss";

@theme {
  --color-nebula-black: #0F0B1D;
  --color-sunflare-orange: #FF6F3C;
  --color-supernova-coral: #FF886C;
  --color-cosmic-plum: #B580D1;
  --color-madame-mystic: #7547A5;
  --color-radiant-apricot: #FFD6BF;
  --color-moonlight-linen: #FFF2EA;
  --color-galactic-purple: #2E1A47;
  --color-wink-pink: #FF9BAE;

  --font-montez: "Montez", cursive;
  --font-truculenta: "Truculenta", sans-serif;
  --font-special-gothic: "Special Gothic", sans-serif;
}
